{% extends 'base.html.twig' %}

{% block title %}Profs{% endblock %}

{% block body %}
    <h1>Profs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prof.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prof.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ prof.prenom }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ prof.matiere }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profs_index') }}">back to list</a>

    <a href="{{ path('app_profs_edit', {'id': prof.id}) }}">edit</a>

    {{ include('profs/_delete_form.html.twig') }}
{% endblock %}
