<div class="position-fixed top-50 start-50 translate-middle" style="z-index: 11;">
    <div class="card  w-100 mx-auto bg-primary" style="max-width: 18rem">
        <div class="card-body text-black">
            {{ form_start(form) }}
            <div class="mb-3">
                <label for="{{ form.nom.vars.id }}" class="form-label">Nom</label>
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                {{ form_errors(form.nom, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>
            <div class="mb-3">
                <label for="{{ form.prenom.vars.id }}" class="form-label">Prénom</label>
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                {{ form_errors(form.prenom, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>
            <div class="mb-3">
                <label for="{{ form.niveau.vars.id }}" class="form-label">Niveau</label>
                {{ form_widget(form.niveau, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.niveau, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>
            <div class="mb-3">
                <label for="{{ form.age.vars.id }}" class="form-label">Âge</label>
                {{ form_widget(form.age, {'attr': {'class': 'form-control', 'placeholder': 'Âge'}}) }}
                {{ form_errors(form.age, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>
            <div class="mb-3">
                <label for="{{ form.numero.vars.id }}" class="form-label">Numéro</label>
                {{ form_widget(form.numero, {'attr': {'class': 'form-control', 'placeholder': 'Numéro'}}) }}    </div>
                {{ form_errors(form.numero, {'attr': {'class': 'invalid-feedback'}}) }}
            </div>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
