{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table position-relative top-50 border-left" style="width: 18rem">
        <tbody>
            <tr class="bg-gradient">
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr class="bg-primary">
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr class="bg-info">
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr class="bg-success">
                <th>Niveau</th>
                <td>{{ etudiant.niveau }}</td>
            </tr>
            <tr class="bg-light">
                <th>Age</th>
                <td>{{ etudiant.age }}</td>
            </tr>
            <tr class="bg-warning">
                <th>Numero</th>
                <td>{{ etudiant.numero }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-primary mt-3 mb-3" href="{{ path('app_etudiant_index') }}">back to list</a>

    <a type="button " class="btn btn btn-outline-warning " href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
